@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: normal;
	src: url('font/Graphik.ttf');
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6,span,a,p {
    font-family: Graphik;
    color: #000;
}

.bg-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
}

#ipad {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 600px;
}

#ipad::before {
    content: "";
    position: absolute;
    bottom: 100%;
    height: 40px;
    width: 100%;
    left: 0;
    background-image: url(asset--ipad__top.png);
}

#ipad::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 40px;
    width: 100%;
    left: 0;
    background-image: url(asset--ipad__bottom.png);
}

/*========================*/